# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv
env/
build/
dist/
fonts/
setup.bat

# Project Specific
*.json
*.pdf
*.txt
*.docx
Nsangou Ngapna et al._ASR_2024.pdf
outputs/
fonts/*.ttf
!fonts/FreeSerif.ttf
tmp/


ROADMAP.md

structure_page_0.json
extractor_test.py
reconstructor_test.py
smart_pdf_test_2.py
smart_pdf_test.py

test_translation.py
surgeon_test.py 
test_conversion.py
test_coords.html
test_detect_tables.py
test_pdfplumber.py
test_searchfor.py


src/rocktranslate.egg-info

# IDEs
.vscode/
.idea/


output_files


# OS
.DS_Store
Thumbs.db